# CHAPTER 07 - DATA GENERATION, MANIPULATION AND CONVERSION

In [3]:
CREATE TABLE #string_tbl
(char_fld CHAR(30),
vchar_fld VARCHAR(30),
text_fld TEXT
);

In [4]:
INSERT INTO #string_tbl (char_fld, vchar_fld, text_fld)
VALUES ('This is char data',
'This is varchar data',
'This is text data');

In [ ]:
SELECT *
FROM #string_tbl

char_fld,vchar_fld,text_fld
This is char data,This is varchar data,This is text data