# CHAPTER 02 - CREATING AND POPULATING A DATABASE

In [18]:
SELECT GETDATE()

(No column name)
2021-03-08 03:35:19.640

In [19]:
SELECT name, database_id, create_date  
FROM sys.databases ;

name,database_id,create_date
master,1,2003-04-08 09:13:36.390
tempdb,2,2021-03-06 06:59:44.567
model,3,2003-04-08 09:13:36.390
msdb,4,2019-09-24 14:21:42.270
DW_SAKILA,5,2021-02-28 09:31:50.937
DB_SAKILA,6,2021-03-02 04:44:19.030
sakila,7,2021-03-02 05:06:09.640

## TABLE CREATION

In [20]:
-- Create a new table called '[person]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[person]', 'U') IS NOT NULL
DROP TABLE [dbo].[person]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[person]
(
    [person_id] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    -- Primary Key column
    [fname] varchar(20) NOT NULL,
    [lname] varchar(20) NOT NULL,
    [eye_color] varchar (2),
    [birth_date] date,
    [street] varchar(30),
    [city] varchar(20),
    [state] varchar(20),
    [country] varchar(20),
    [postal_code] varchar(20),
);
GO

In [21]:
-- Create a new table called '[favorite_food]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[favorite_food]', 'U') IS NOT NULL
DROP TABLE [dbo].[favorite_food]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[favorite_food]
(
    [person_id] INT NOT NULL,
    -- Primary Key column
    [food] varchar(50) NOT NULL,
    CONSTRAINT fk_fav_food_person_id FOREIGN KEY ([person_id])
    REFERENCES [dbo].[person] ([person_id])
    -- Specify more columns here
);
GO

In [22]:
-- Insert rows into table 'person' in schema '[dbo]'
INSERT INTO [dbo].[person]
( -- Columns to insert data into
 [fname], [lname], [eye_color], [birth_date]
)
VALUES
( -- First row: values for the columns in the list above
 'William', 'Turner', 'BR', '1972-05-27'
);
-- Add more rows here
GO

In [23]:
-- Select rows from a Table or View '[person_id]' in schema '[dbo]'
SELECT person_id, fname, lname, birth_date
FROM [dbo].[person]
GO

person_id,fname,lname,birth_date
1,William,Turner,1972-05-27

In [24]:
-- Select rows from a Table or View '[person_id]' in schema '[dbo]'
SELECT person_id, fname, lname, birth_date
FROM [dbo].[person]
WHERE [lname] = 'Turner'
GO

person_id,fname,lname,birth_date
1,William,Turner,1972-05-27

In [25]:
-- Insert rows into table 'favorite_food' in schema '[dbo]'
INSERT INTO [dbo].[favorite_food]
( -- Columns to insert data into
 [person_id], [food]
)
VALUES
( -- First row: values for the columns in the list above
    1, 'pizza'
),
(
    1, 'cookies'
),
(
    1, 'nachos'
);
GO

In [26]:
-- Select rows from a Table or View '[favorite_food]' in schema '[dbo]'
SELECT food
FROM [dbo].[favorite_food]
WHERE person_id = 1
ORDER BY food
GO

food
cookies
nachos
pizza

In [28]:
INSERT INTO person
    (fname, lname, eye_color, birth_date, street, city, state, country, postal_code)
VALUES
    ('Susan', 'Smith', 'BL', '1975-11-02', '23 Maple St.', 'Arlington', 'VA', 'USA', '20220');

In [29]:
SELECT person_id, fname, lname, birth_date
FROM person;

person_id,fname,lname,birth_date
1,William,Turner,1972-05-27
2,Susan,Smith,1975-11-02

In [30]:
UPDATE person 
SET street = '1225 Tremont St.',
    city = 'Boston',
    state = 'MA',
    country = 'USA',
    postal_code = '02138'
WHERE person_id = 1;

In [31]:
SELECT *
FROM person

person_id,fname,lname,eye_color,birth_date,street,city,state,country,postal_code
1,William,Turner,BR,1972-05-27,1225 Tremont St.,Boston,MA,USA,02138
2,Susan,Smith,BL,1975-11-02,23 Maple St.,Arlington,VA,USA,20220

In [32]:
DELETE FROM [person]
WHERE person_id = 2

In [33]:
SELECT *
FROM person

person_id,fname,lname,eye_color,birth_date,street,city,state,country,postal_code
1,William,Turner,BR,1972-05-27,1225 Tremont St.,Boston,MA,USA,02138

In [37]:
INSERT INTO person
    (fname, lname, eye_color, birth_date)
VALUES
    ('Charles', 'Fulton', 'GR', '1968-01-15')

In [38]:
INSERT INTO favorite_food (person_id, food)
VALUES (999, 'lasagna');

: Msg 547, Level 16, State 0, Line 1
A instrução INSERT conflitou com a restrição do FOREIGN KEY "fk_fav_food_person_id". O conflito ocorreu no banco de dados "DB_SAKILA", tabela "dbo.person", column 'person_id'.

In [39]:
UPDATE person
SET birth_date = 'DEC-21-1980'
WHERE person_id = 1;

: Msg 241, Level 16, State 1, Line 1
Falha ao converter data e/ou hora da cadeia de caracteres.

In [46]:
UPDATE person
SET birth_date = '1980-12-21'
WHERE person_id = 1;

: Msg 242, Level 16, State 3, Line 1
A conversão de um tipo de dados varchar em um tipo de dados datetime resultou em um valor fora do intervalo.

In [49]:
SELECT *
FROM    SYSOBJECTS
WHERE xtype = 'U'

name,id,xtype,uid,info,status,base_schema_ver,replinfo,parent_obj,crdate,ftcatid,schema_ver,stats_schema_ver,type,userstat,sysstat,indexdel,refdate,version,deltrig,instrig,updtrig,seltrig,category,cache
actor,629577281,U,1,0,0,0,0,0,2021-03-02 05:09:29.977,0,0,0,U,1,3,0,2021-03-02 05:09:29.977,0,0,0,0,0,0,0
country,677577452,U,1,0,0,0,0,0,2021-03-02 05:09:30.047,0,0,0,U,1,3,0,2021-03-02 05:09:30.047,0,0,0,0,0,0,0
city,725577623,U,1,0,0,0,0,0,2021-03-02 05:09:30.053,0,0,0,U,1,3,0,2021-03-02 05:09:30.053,0,0,0,0,0,0,0
address,789577851,U,1,0,0,0,0,0,2021-03-02 05:09:30.067,0,0,0,U,1,3,0,2021-03-02 05:09:30.067,0,0,0,0,0,0,0
language,885578193,U,1,0,0,0,0,0,2021-03-02 05:09:30.090,0,0,0,U,1,3,0,2021-03-02 05:09:30.090,0,0,0,0,0,0,0
category,933578364,U,1,0,0,0,0,0,2021-03-02 05:09:30.093,0,0,0,U,1,3,0,2021-03-02 05:09:30.093,0,0,0,0,0,0,0
customer,981578535,U,1,0,0,0,0,0,2021-03-02 05:09:30.173,0,0,0,U,1,3,0,2021-03-02 05:09:30.173,0,0,0,0,0,0,0
film,1093578934,U,1,0,0,0,0,0,2021-03-02 05:09:30.203,0,0,0,U,1,3,0,2021-03-02 05:09:30.203,0,0,0,0,0,0,0
film_actor,1333579789,U,1,0,0,0,0,0,2021-03-02 05:09:30.233,0,0,0,U,1,3,0,2021-03-02 05:09:30.233,0,0,0,0,0,0,0
film_category,1413580074,U,1,0,0,0,0,0,2021-03-02 05:09:30.310,0,0,0,U,1,3,0,2021-03-02 05:09:30.310,0,0,0,0,0,0,0
film_text,1493580359,U,1,0,0,0,0,0,2021-03-02 05:09:30.327,0,0,0,U,1,3,0,2021-03-02 05:09:30.327,0,0,0,0,0,0,0
inventory,1525580473,U,1,0,0,0,0,0,2021-03-02 05:09:30.330,0,0,0,U,1,3,0,2021-03-02 05:09:30.330,0,0,0,0,0,0,0
staff,1589580701,U,1,0,0,0,0,0,2021-03-02 05:09:30.350,0,0,0,U,1,3,0,2021-03-02 05:09:30.350,0,0,0,0,0,0,0
store,1717581157,U,1,0,0,0,0,0,2021-03-02 05:09:30.360,0,0,0,U,1,3,0,2021-03-02 05:09:30.360,0,0,0,0,0,0,0
person,1730105204,U,1,0,0,0,0,0,2021-03-08 03:35:20.813,0,0,0,U,1,3,0,2021-03-08 03:35:20.813,0,0,0,0,0,0,0
favorite_food,1762105318,U,1,0,0,0,0,0,2021-03-08 03:35:20.900,0,0,0,U,1,3,0,2021-03-08 03:35:20.900,0,0,0,0,0,0,0
payment,1797581442,U,1,0,0,0,0,0,2021-03-02 05:09:30.437,0,0,0,U,1,3,0,2021-03-02 05:09:30.437,0,0,0,0,0,0,0
rental,1893581784,U,1,0,0,0,0,0,2021-03-02 05:09:30.457,0,0,0,U,1,3,0,2021-03-02 05:09:30.457,0,0,0,0,0,0,0

In [54]:
DROP TABLE favorite_food;

In [55]:
DROP TABLE person;