# CHAPTER 02 - QUERY PRIMER

In [1]:
USE sakila;

## QUERY MECHANICS

In [2]:
SELECT *
FROM actor;

actor_id,first_name,last_name,last_update
1,PENELOPE,GUINESS,2006-02-15 04:34:33.000
2,NICK,WAHLBERG,2006-02-15 04:34:33.000
3,ED,CHASE,2006-02-15 04:34:33.000
4,JENNIFER,DAVIS,2006-02-15 04:34:33.000
5,JOHNNY,LOLLOBRIGIDA,2006-02-15 04:34:33.000
6,BETTE,NICHOLSON,2006-02-15 04:34:33.000
7,GRACE,MOSTEL,2006-02-15 04:34:33.000
8,MATTHEW,JOHANSSON,2006-02-15 04:34:33.000
9,JOE,SWANK,2006-02-15 04:34:33.000
10,CHRISTIAN,GABLE,2006-02-15 04:34:33.000
11,ZERO,CAGE,2006-02-15 04:34:33.000
12,KARL,BERRY,2006-02-15 04:34:33.000
13,UMA,WOOD,2006-02-15 04:34:33.000
14,VIVIEN,BERGEN,2006-02-15 04:34:33.000
15,CUBA,OLIVIER,2006-02-15 04:34:33.000
16,FRED,COSTNER,2006-02-15 04:34:33.000
17,HELEN,VOIGHT,2006-02-15 04:34:33.000
18,DAN,TORN,2006-02-15 04:34:33.000
19,BOB,FAWCETT,2006-02-15 04:34:33.000
20,LUCILLE,TRACY,2006-02-15 04:34:33.000
21,KIRSTEN,PALTROW,2006-02-15 04:34:33.000
22,ELVIS,MARX,2006-02-15 04:34:33.000
23,SANDRA,KILMER,2006-02-15 04:34:33.000
24,CAMERON,STREEP,2006-02-15 04:34:33.000
25,KEVIN,BLOOM,2006-02-15 04:34:33.000
26,RIP,CRAWFORD,2006-02-15 04:34:33.000
27,JULIA,MCQUEEN,2006-02-15 04:34:33.000
28,WOODY,HOFFMAN,2006-02-15 04:34:33.000
29,ALEC,WAYNE,2006-02-15 04:34:33.000
30,SANDRA,PECK,2006-02-15 04:34:33.000
31,SISSY,SOBIESKI,2006-02-15 04:34:33.000
32,TIM,HACKMAN,2006-02-15 04:34:33.000
33,MILLA,PECK,2006-02-15 04:34:33.000
34,AUDREY,OLIVIER,2006-02-15 04:34:33.000
35,JUDY,DEAN,2006-02-15 04:34:33.000
36,BURT,DUKAKIS,2006-02-15 04:34:33.000
37,VAL,BOLGER,2006-02-15 04:34:33.000
38,TOM,MCKELLEN,2006-02-15 04:34:33.000
39,GOLDIE,BRODY,2006-02-15 04:34:33.000
40,JOHNNY,CAGE,2006-02-15 04:34:33.000
41,JODIE,DEGENERES,2006-02-15 04:34:33.000
42,TOM,MIRANDA,2006-02-15 04:34:33.000
43,KIRK,JOVOVICH,2006-02-15 04:34:33.000
44,NICK,STALLONE,2006-02-15 04:34:33.000
45,REESE,KILMER,2006-02-15 04:34:33.000
46,PARKER,GOLDBERG,2006-02-15 04:34:33.000
47,JULIA,BARRYMORE,2006-02-15 04:34:33.000
48,FRANCES,DAY-LEWIS,2006-02-15 04:34:33.000
49,ANNE,CRONYN,2006-02-15 04:34:33.000
50,NATALIE,HOPKINS,2006-02-15 04:34:33.000
51,GARY,PHOENIX,2006-02-15 04:34:33.000
52,CARMEN,HUNT,2006-02-15 04:34:33.000
53,MENA,TEMPLE,2006-02-15 04:34:33.000
54,PENELOPE,PINKETT,2006-02-15 04:34:33.000
55,FAY,KILMER,2006-02-15 04:34:33.000
56,DAN,HARRIS,2006-02-15 04:34:33.000
57,JUDE,CRUISE,2006-02-15 04:34:33.000
58,CHRISTIAN,AKROYD,2006-02-15 04:34:33.000
59,DUSTIN,TAUTOU,2006-02-15 04:34:33.000
60,HENRY,BERRY,2006-02-15 04:34:33.000
61,CHRISTIAN,NEESON,2006-02-15 04:34:33.000
62,JAYNE,NEESON,2006-02-15 04:34:33.000
63,CAMERON,WRAY,2006-02-15 04:34:33.000
64,RAY,JOHANSSON,2006-02-15 04:34:33.000
65,ANGELA,HUDSON,2006-02-15 04:34:33.000
66,MARY,TANDY,2006-02-15 04:34:33.000
67,JESSICA,BAILEY,2006-02-15 04:34:33.000
68,RIP,WINSLET,2006-02-15 04:34:33.000
69,KENNETH,PALTROW,2006-02-15 04:34:33.000
70,MICHELLE,MCCONAUGHEY,2006-02-15 04:34:33.000
71,ADAM,GRANT,2006-02-15 04:34:33.000
72,SEAN,WILLIAMS,2006-02-15 04:34:33.000
73,GARY,PENN,2006-02-15 04:34:33.000
74,MILLA,KEITEL,2006-02-15 04:34:33.000
75,BURT,POSEY,2006-02-15 04:34:33.000
76,ANGELINA,ASTAIRE,2006-02-15 04:34:33.000
77,CARY,MCCONAUGHEY,2006-02-15 04:34:33.000
78,GROUCHO,SINATRA,2006-02-15 04:34:33.000
79,MAE,HOFFMAN,2006-02-15 04:34:33.000
80,RALPH,CRUZ,2006-02-15 04:34:33.000
81,SCARLETT,DAMON,2006-02-15 04:34:33.000
82,WOODY,JOLIE,2006-02-15 04:34:33.000
83,BEN,WILLIS,2006-02-15 04:34:33.000
84,JAMES,PITT,2006-02-15 04:34:33.000
85,MINNIE,ZELLWEGER,2006-02-15 04:34:33.000
86,GREG,CHAPLIN,2006-02-15 04:34:33.000
87,SPENCER,PECK,2006-02-15 04:34:33.000
88,KENNETH,PESCI,2006-02-15 04:34:33.000
89,CHARLIZE,DENCH,2006-02-15 04:34:33.000
90,SEAN,GUINESS,2006-02-15 04:34:33.000
91,CHRISTOPHER,BERRY,2006-02-15 04:34:33.000
92,KIRSTEN,AKROYD,2006-02-15 04:34:33.000
93,ELLEN,PRESLEY,2006-02-15 04:34:33.000
94,KENNETH,TORN,2006-02-15 04:34:33.000
95,DARYL,WAHLBERG,2006-02-15 04:34:33.000
96,GENE,WILLIS,2006-02-15 04:34:33.000
97,MEG,HAWKE,2006-02-15 04:34:33.000
98,CHRIS,BRIDGES,2006-02-15 04:34:33.000
99,JIM,MOSTEL,2006-02-15 04:34:33.000
100,SPENCER,DEPP,2006-02-15 04:34:33.000
101,SUSAN,DAVIS,2006-02-15 04:34:33.000
102,WALTER,TORN,2006-02-15 04:34:33.000
103,MATTHEW,LEIGH,2006-02-15 04:34:33.000
104,PENELOPE,CRONYN,2006-02-15 04:34:33.000
105,SIDNEY,CROWE,2006-02-15 04:34:33.000
106,GROUCHO,DUNST,2006-02-15 04:34:33.000
107,GINA,DEGENERES,2006-02-15 04:34:33.000
108,WARREN,NOLTE,2006-02-15 04:34:33.000
109,SYLVESTER,DERN,2006-02-15 04:34:33.000
110,SUSAN,DAVIS,2006-02-15 04:34:33.000
111,CAMERON,ZELLWEGER,2006-02-15 04:34:33.000
112,RUSSELL,BACALL,2006-02-15 04:34:33.000
113,MORGAN,HOPKINS,2006-02-15 04:34:33.000
114,MORGAN,MCDORMAND,2006-02-15 04:34:33.000
115,HARRISON,BALE,2006-02-15 04:34:33.000
116,DAN,STREEP,2006-02-15 04:34:33.000
117,RENEE,TRACY,2006-02-15 04:34:33.000
118,CUBA,ALLEN,2006-02-15 04:34:33.000
119,WARREN,JACKMAN,2006-02-15 04:34:33.000
120,PENELOPE,MONROE,2006-02-15 04:34:33.000
121,LIZA,BERGMAN,2006-02-15 04:34:33.000
122,SALMA,NOLTE,2006-02-15 04:34:33.000
123,JULIANNE,DENCH,2006-02-15 04:34:33.000
124,SCARLETT,BENING,2006-02-15 04:34:33.000
125,ALBERT,NOLTE,2006-02-15 04:34:33.000
126,FRANCES,TOMEI,2006-02-15 04:34:33.000
127,KEVIN,GARLAND,2006-02-15 04:34:33.000
128,CATE,MCQUEEN,2006-02-15 04:34:33.000
129,DARYL,CRAWFORD,2006-02-15 04:34:33.000
130,GRETA,KEITEL,2006-02-15 04:34:33.000
131,JANE,JACKMAN,2006-02-15 04:34:33.000
132,ADAM,HOPPER,2006-02-15 04:34:33.000
133,RICHARD,PENN,2006-02-15 04:34:33.000
134,GENE,HOPKINS,2006-02-15 04:34:33.000
135,RITA,REYNOLDS,2006-02-15 04:34:33.000
136,ED,MANSFIELD,2006-02-15 04:34:33.000
137,MORGAN,WILLIAMS,2006-02-15 04:34:33.000
138,LUCILLE,DEE,2006-02-15 04:34:33.000
139,EWAN,GOODING,2006-02-15 04:34:33.000
140,WHOOPI,HURT,2006-02-15 04:34:33.000
141,CATE,HARRIS,2006-02-15 04:34:33.000
142,JADA,RYDER,2006-02-15 04:34:33.000
143,RIVER,DEAN,2006-02-15 04:34:33.000
144,ANGELA,WITHERSPOON,2006-02-15 04:34:33.000
145,KIM,ALLEN,2006-02-15 04:34:33.000
146,ALBERT,JOHANSSON,2006-02-15 04:34:33.000
147,FAY,WINSLET,2006-02-15 04:34:33.000
148,EMILY,DEE,2006-02-15 04:34:33.000
149,RUSSELL,TEMPLE,2006-02-15 04:34:33.000
150,JAYNE,NOLTE,2006-02-15 04:34:33.000
151,GEOFFREY,HESTON,2006-02-15 04:34:33.000
152,BEN,HARRIS,2006-02-15 04:34:33.000
153,MINNIE,KILMER,2006-02-15 04:34:33.000
154,MERYL,GIBSON,2006-02-15 04:34:33.000
155,IAN,TANDY,2006-02-15 04:34:33.000
156,FAY,WOOD,2006-02-15 04:34:33.000
157,GRETA,MALDEN,2006-02-15 04:34:33.000
158,VIVIEN,BASINGER,2006-02-15 04:34:33.000
159,LAURA,BRODY,2006-02-15 04:34:33.000
160,CHRIS,DEPP,2006-02-15 04:34:33.000
161,HARVEY,HOPE,2006-02-15 04:34:33.000
162,OPRAH,KILMER,2006-02-15 04:34:33.000
163,CHRISTOPHER,WEST,2006-02-15 04:34:33.000
164,HUMPHREY,WILLIS,2006-02-15 04:34:33.000
165,AL,GARLAND,2006-02-15 04:34:33.000
166,NICK,DEGENERES,2006-02-15 04:34:33.000
167,LAURENCE,BULLOCK,2006-02-15 04:34:33.000
168,WILL,WILSON,2006-02-15 04:34:33.000
169,KENNETH,HOFFMAN,2006-02-15 04:34:33.000
170,MENA,HOPPER,2006-02-15 04:34:33.000
171,OLYMPIA,PFEIFFER,2006-02-15 04:34:33.000
172,GROUCHO,WILLIAMS,2006-02-15 04:34:33.000
173,ALAN,DREYFUSS,2006-02-15 04:34:33.000
174,MICHAEL,BENING,2006-02-15 04:34:33.000
175,WILLIAM,HACKMAN,2006-02-15 04:34:33.000
176,JON,CHASE,2006-02-15 04:34:33.000
177,GENE,MCKELLEN,2006-02-15 04:34:33.000
178,LISA,MONROE,2006-02-15 04:34:33.000
179,ED,GUINESS,2006-02-15 04:34:33.000
180,JEFF,SILVERSTONE,2006-02-15 04:34:33.000
181,MATTHEW,CARREY,2006-02-15 04:34:33.000
182,DEBBIE,AKROYD,2006-02-15 04:34:33.000
183,RUSSELL,CLOSE,2006-02-15 04:34:33.000
184,HUMPHREY,GARLAND,2006-02-15 04:34:33.000
185,MICHAEL,BOLGER,2006-02-15 04:34:33.000
186,JULIA,ZELLWEGER,2006-02-15 04:34:33.000
187,RENEE,BALL,2006-02-15 04:34:33.000
188,ROCK,DUKAKIS,2006-02-15 04:34:33.000
189,CUBA,BIRCH,2006-02-15 04:34:33.000
190,AUDREY,BAILEY,2006-02-15 04:34:33.000
191,GREGORY,GOODING,2006-02-15 04:34:33.000
192,JOHN,SUVARI,2006-02-15 04:34:33.000
193,BURT,TEMPLE,2006-02-15 04:34:33.000
194,MERYL,ALLEN,2006-02-15 04:34:33.000
195,JAYNE,SILVERSTONE,2006-02-15 04:34:33.000
196,BELA,WALKEN,2006-02-15 04:34:33.000
197,REESE,WEST,2006-02-15 04:34:33.000
198,MARY,KEITEL,2006-02-15 04:34:33.000
199,JULIA,FAWCETT,2006-02-15 04:34:33.000
200,THORA,TEMPLE,2006-02-15 04:34:33.000

In [3]:
SELECT *
FROM category;

category_id,name,last_update
1,Action,2006-02-15 04:46:27.000
2,Animation,2006-02-15 04:46:27.000
3,Children,2006-02-15 04:46:27.000
4,Classics,2006-02-15 04:46:27.000
5,Comedy,2006-02-15 04:46:27.000
6,Documentary,2006-02-15 04:46:27.000
7,Drama,2006-02-15 04:46:27.000
8,Family,2006-02-15 04:46:27.000
9,Foreign,2006-02-15 04:46:27.000
10,Games,2006-02-15 04:46:27.000
11,Horror,2006-02-15 04:46:27.000
12,Music,2006-02-15 04:46:27.000
13,New,2006-02-15 04:46:27.000
14,Sci-Fi,2006-02-15 04:46:27.000
15,Sports,2006-02-15 04:46:27.000
16,Travel,2006-02-15 04:46:27.000

## The select Clause

In [4]:
SELECT *
FROM language;

language_id,name,last_update
1,English,2006-02-15 05:02:19.000
2,Italian,2006-02-15 05:02:19.000
3,Japanese,2006-02-15 05:02:19.000
4,Mandarin,2006-02-15 05:02:19.000
5,French,2006-02-15 05:02:19.000
6,German,2006-02-15 05:02:19.000

In [5]:
SELECT language_id, name, last_update
FROM language

language_id,name,last_update
1,English,2006-02-15 05:02:19.000
2,Italian,2006-02-15 05:02:19.000
3,Japanese,2006-02-15 05:02:19.000
4,Mandarin,2006-02-15 05:02:19.000
5,French,2006-02-15 05:02:19.000
6,German,2006-02-15 05:02:19.000

In [6]:
SELECT name
FROM language;

name
English
Italian
Japanese
Mandarin
French
German

In [7]:
SELECT language_id, 'COMMON' language_usage, language_id * 3.1415927 lang_pi_value,
UPPER(name) language_name
FROM language

language_id,language_usage,lang_pi_value,language_name
1,COMMON,"3,1415927",ENGLISH
2,COMMON,"6,2831854",ITALIAN
3,COMMON,"9,4247781",JAPANESE
4,COMMON,"12,5663708",MANDARIN
5,COMMON,"15,7079635",FRENCH
6,COMMON,"18,8495562",GERMAN

In [8]:
SELECT @@VERSION AS 'SQL SERVER VERSION', USER AS 'USER', DB_NAME() AS 'DATABASE NAME'

SQL SERVER VERSION,USER,DATABASE NAME
Microsoft SQL Server 2019 (RTM-CU9) (KB5000642) - 15.0.4102.2 (X64) Jan 25 2021 20:16:12 Copyright (C) 2019 Microsoft Corporation Developer Edition (64-bit) on Linux (Ubuntu 18.04.5 LTS) <X64>,dbo,sakila

## COLUMN ALIASES

In [ ]:
<span style="color: #d4d4d4;">%</span>sql SELECT language\_id, \\

     <span style="color: #ce9178;">'COMMON'</span> AS language\_usage, \\

     language\_id <span style="color: #d4d4d4;">*</span> <span style="color: #b5cea8;">3.1415927</span> AS lang\_pt\_value, \\

     UPPER(name) AS language\_usage \\

     FROM language

In [ ]:
REMOVING DUPLICATES

In [ ]:
%sql SELECT actor_id FROM film_actor ORDER BY actor_id LIMIT 10

In [ ]:
%sql SELECT DISTINCT actor_id FROM film_actor ORDER BY actor_id LIMIT 10

In [ ]:
THE FROM CLAUSE

In [ ]:
%sql \
SELECT CONCAT(cust.last_name, ', ', cust.first_name) full_name \
FROM \
    (SELECT first_name, last_name, email \
     FROM customer \
     WHERE first_name = 'JESSIE' \
    ) cust;

In [ ]:
TEMPORARY TABLES

In [ ]:
%sql \
    CREATE TEMPORARY TABLE actors_j \
        (actor_id smallint(5), \
        first_name varchar(45), \
        last_name varchar(45) \
    );

In [ ]:
%sql \
    INSERT INTO actors_j \
    SELECT actor_id, first_name, last_name \
    FROM actor \
    WHERE last_name LIKE 'J%';

In [ ]:
%sql \
    SELECT * FROM actors_j;

In [ ]:
%sql DROP TABLE  actors_j

In [ ]:
VIEWS

In [ ]:
%sql CREATE VIEW cust_vw AS SELECT customer_id, first_name, last_name, active FROM customer;

In [ ]:
%sql DROP \
VIEW cust_vw

In [ ]:
%sql \
SELECT * FROM actors_j;