# CHAPTER 02 - CREATING AND POPULATING A DATABASE

In [101]:
SELECT GETDATE()

(No column name)
2021-03-04 05:08:21.057

In [102]:
SELECT name, database_id, create_date  
FROM sys.databases ;

name,database_id,create_date
master,1,2003-04-08 09:13:36.390
tempdb,2,2021-03-04 02:58:24.587
model,3,2003-04-08 09:13:36.390
msdb,4,2019-09-24 14:21:42.270
DW_SAKILA,5,2021-02-28 09:31:50.937
DB_SAKILA,6,2021-03-02 04:44:19.030
sakila,7,2021-03-02 05:06:09.640

## TABLE CREATION

In [103]:
-- Create a new table called '[person]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[person]', 'U') IS NOT NULL
DROP TABLE [dbo].[person]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[person]
(
    [person_id] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    -- Primary Key column
    [fname] varchar(20) NOT NULL,
    [lname] varchar(20) NOT NULL,
    [eye_color] varchar (2),
    [birth_data] date,
    [street] varchar(30),
    [state] varchar(20),
    [country] varchar(20),
    [postal_code] varchar(20),
);
GO

In [104]:
-- Create a new table called '[favorite_food]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[favorite_food]', 'U') IS NOT NULL
DROP TABLE [dbo].[favorite_food]
GO
-- Create the table in the specified schema
CREATE TABLE [dbo].[favorite_food]
(
    [person_id] INT NOT NULL,
    -- Primary Key column
    [food] varchar(50) NOT NULL,
    CONSTRAINT fk_fav_food_person_id FOREIGN KEY ([person_id])
    REFERENCES [dbo].[person] ([person_id])
    -- Specify more columns here
);
GO

In [105]:
-- Insert rows into table 'person' in schema '[dbo]'
INSERT INTO [dbo].[person]
( -- Columns to insert data into
 [fname], [lname], [eye_color], [birth_data]
)
VALUES
( -- First row: values for the columns in the list above
 'William', 'Turner', 'BR', '1972-05-27'
);
-- Add more rows here
GO

In [106]:
-- Select rows from a Table or View '[person_id]' in schema '[dbo]'
SELECT person_id, fname, lname, birth_data
FROM [dbo].[person]
GO

person_id,fname,lname,birth_data
1,William,Turner,1972-05-27

In [107]:
-- Select rows from a Table or View '[person_id]' in schema '[dbo]'
SELECT person_id, fname, lname, birth_data
FROM [dbo].[person]
WHERE [lname] = 'Turner'
GO

person_id,fname,lname,birth_data
1,William,Turner,1972-05-27

In [108]:
-- Insert rows into table 'favorite_food' in schema '[dbo]'
INSERT INTO [dbo].[favorite_food]
( -- Columns to insert data into
 [person_id], [food]
)
VALUES
( -- First row: values for the columns in the list above
    1, 'pizza'
),
(
    1, 'cookies'
),
(
    1, 'nachos'
);
GO

In [131]:
-- Select rows from a Table or View '[favorite_food]' in schema '[dbo]'
SELECT food
FROM [dbo].[favorite_food]
WHERE person_id = 1
ORDER BY food
GO

food
cookies
nachos
pizza

In [133]:
INSERT INTO person
    (person_id, fname, lname, eye_color, birth_date, street, city, state, country, postal_code)
VALUES
    (NULL, 'Susan', 'Smith', 'BL', '1975-11-02', '23 Maple St.', 'Arlington', 'VA', 'USA', '20220');

: Msg 207, Level 16, State 1, Line 1
Nome de coluna 'birth_date' inválido.

: Msg 207, Level 16, State 1, Line 1
Nome de coluna 'city' inválido.

In [134]:
SELECT person_id, fname, lname, birth_data
FROM person;

person_id,fname,lname,birth_data
1,William,Turner,1972-05-27